@tailwind base;
@layer base {
  html {
    @apply font-sans;
  }
}
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.8rem;
  /* word-break: break-word;
  word-wrap: break-word; */
}

a {
  color: #000000d1;
  text-decoration: none;
  text-underline-offset: 0.15em;
  transition: all 0.25s ease 0s;
}
button {
  /* border: none; */
  outline-offset: 2px;
  cursor: pointer;
  appearance: none;
  transition: all 0.25s ease 0s;
}

* {
  box-sizing: border-box;
}
